.item{
    height: 400px;
    width: 21%;
    margin-top: 40px;
    position: relative;
    background-color: var(--color-medio);
    border: 3px solid var(--color-oscuro);
    color: var(--color-letra-clarita);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.item h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.item p{
    position: absolute;
    bottom: -20px;
    right: -10px;
    font-size: 30px;
    transform: rotate(-45deg);
}

.item a {
    background-color: var(--color-clarito);
    width: 50%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid var(--color-oscuro);
    font-size: 20px;
    transition: all .5s;
}

.item a:hover {
    background-color: var(--color-oscuro);
    color: inherit;
}
@media (max-width: 8000px) {
    .item{
        height: 300px;
        width: 21%;
        margin-top: 40px;
        position: relative;
        background-color: var(--color-medio);
        border: 3px solid var(--color-oscuro);
        color: var(--color-letra-clarita);
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item h2 {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }
    
    .item p{
        position: absolute;
        bottom: -20px;
        right: -10px;
        font-size: 20px;
        transform: rotate(-45deg);
    }
    
    .item a {
        background-color: var(--color-clarito);
        width: 100%;
        height: 100px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        text-decoration: none;
        border: 1px solid var(--color-oscuro);
        font-size: 10px;
        transition: all .5s;
    }
    

}