.main {
    background-color: blueviolet;

}
.form {
    background-color: rgb(150, 142, 163);
    margin-top: 40px;
    padding: 40px 30px;
height: 40%;
    display: flex;
    width: 80%;
    justify-content: center;
    position: relative;
    left: 100px;
}
.carusel{
   width: 100%;
   height: 10%;
   padding: 20px 20px;
   margin: 10px 0px 20px;
}
.carusel img {
  width: 100%;
  height: 30%;
  object-fit: fill;
    offset: 49%;

   
}

.cuadro {
   
    background-color: rgb(199, 159, 207);
    border: 2px blueviolet solid;
    padding: 10px;
    margin: 29ox 20px;

}
figure {
    width: 40%;
    height: 30%;
    margin: 20px 20px;

}
figure img {
    width: 100%;
    height: 60%;
    box-shadow: 10px 10px 21px  rgb(216, 95, 146);
} 
.cuerpo{
    width: 100%;
    height: 20%;
    display: flex;
}