 .bi-cart3{
position: relative;
right: 10%;
}
.navbar-brand{
    text-decoration: none;
    color: aqua;
    margin-left: 300px;
}
.nav-item .nav-link {
    width: 100%;
    position: relative;
    left: 50%;
    font-style: none;
    color: rgb(0, 0, 0);
}
.nav-link li{
    color: red;
}
.nav-item {
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: extra-condensed;
    text-decoration: none;
}
.container-fluid {
    background-color: rgb(247, 255, 252);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 3px;
}
.navbar .bg-light{
    background-color: blue;
} 